log/*
tmp/*
config/database.yml
config/initializers/zzz_custom_config.rb
config/ultrasphinx/development.conf
config/ultrasphinx/test.conf
config/ultrasphinx/production.conf
public/medias/images/*
public/medias/images
public/javascripts/all.js
public/stylesheets/all.css
