<div class="header span-24">
  <div class="span-14">
    <%= breadcrumb @forum, @topic %>
  </div>
  <div class="actions span-10 last">
    <%= link_to 'Annuler', forum_topic_path(@forum, @topic) %>
  </div>
</div>

<%= error_messages_for :topic %>

<% form_for @topic, :url => forum_topic_path(@forum, @topic), :html => { :method => :put } do |f| %>
  <%= render :partial => 'topics/form', :locals => { :f => f, :topic => @topic, :button => 'Modifier' } %>
<% end %>
