<div class="header span-24">
  <div class="span-24">
    <%= breadcrumb nil, nil, nil, 'Inscription' %>
  </div>
</div>

<div class="span-24">
  <div class="warning">
    <ul>
      <li><strong>Inscriptions désactivées jusqu'au 29 janvier 2010.</strong></li>
    </ul>
  </div>
</div>
